@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Jost:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('Soulcraft.ttf');

html,
body {
  background-color: #fff;
  height:100%;
    scroll-behavior: smooth;

}
.wv-gradient {

  background: linear-gradient(135deg, rgba(120,131,240,1) 0%, rgba(75,85,205,1) 100%);

}

.skip-gradient {

  background: linear-gradient(0deg, rgba(217,237,246,1) 0%, rgba(177,208,221,1) 100%);


}
.fy-gradient {

  background: linear-gradient(130deg, rgba(51,91,129,1) 0%, rgba(16,62,102,1) 99%);

}
.email-gradient {

  background: linear-gradient(120deg, rgba(90,157,234,1) 0%, rgba(60,138,225,1) 66%);


}



header {
  position: relative;
  background-color: #29353C;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: #29353C no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
.custom-bg {
    background: #29353C center center scroll;



}
.hero-bg {

 background: url(img/saw.svg) 100% 100% scroll no-repeat, url(img/scoop.svg) 10% -200px  scroll no-repeat,  url(img/sun.svg) 90% -50px scroll no-repeat #007BC7;
  background-size: 70%, 50%, 20%;

/* background: url(img/memphis-geometry.png) center center scroll, url(img/gradient-bg.png) center center scroll, linear-gradient(180deg, rgba(66,228,253,1) 0%, rgba(75,152,224,1) 70%, rgba(121,113,191,1) 100%);*/


}
.card-title {

  margin-top:.25em;
  margin-bottom:.25em;
}
.padding {
  padding-top: 32px;
  padding-bottom: 16px;
}
.proj-photo{
  padding-top: 16px;
  padding-bottom: 32px;
  }
  .masthead-brand {
}
padding-bottom: 10px;

  }
}
.title-fix {
  padding-bottom: 0px !important;
}
 
  .name {

    font-size: 7em ; 
    margin-left: -4px;
    font-family: Soulcraft-Regular, sans-serif;
    font-weight: 800;
    font-variation-settings: 'wdth' 100;
    padding-top: 25px;
    padding-bottom: 10px;

}

.bio {

  font-size: 1.5em;
  line-height: 150% !important;
  font-weight: 300 !important;
  color: rgba(255,255,255,0.75);

}

@media only screen and (max-width: 600px) {
    .name {
  font-size: 4.5em; 
  margin-left: -4px;
    font-variation-settings: 'wdth' 50;

    padding-top: 15px;

    padding-bottom: 10px;

  }

   .bio {
  font-size: 1.15em; 
  line-height: 150% !important;
  font-weight: 300 !important;  
  margin-left: -4px;


  }

  .hero-bg {

 background: url(img/saw.svg) 100px 100% scroll no-repeat, url(img/scoop.svg) -50px 0%  scroll no-repeat,  url(img/sun.svg) 100% -50px scroll no-repeat #007BC7;
  background-size: 100%, 70%, 30%;

/* background: url(img/memphis-geometry.png) center center scroll, url(img/gradient-bg.png) center center scroll, linear-gradient(180deg, rgba(66,228,253,1) 0%, rgba(75,152,224,1) 70%, rgba(121,113,191,1) 100%);*/


}

}


.dropdown-toggle::after {
vertical-align: .1em;
}

.subhead {

    padding-top: 0px;
    font-size: 1.15em;
}

  h1 {
  font-family: 'Jost', sans-serif;
  font-weight: 500 !important;
  line-height: 90% !important;
    color: #fff;

}

  h2 {
  font-family: 'Jost', sans-serif;
  font-weight: 500 !important;
  line-height: 100% !important;
font-size: 2em;
color: #313442;
padding-bottom: 16px;
}

  h3 {
  font-family: 'Jost', sans-serif;
  font-weight: 400 !important;
  line-height: 110% !important;
  font-size: 1.75em;
color: #313442;
margin-top: 5px;

}
a {
  font-family: 'Martel', serif;
  font-weight: 400 !important;
  font-style: normal;
}

  p {
  font-family: 'Martel', serif;
  font-size: 1.05em; 
  line-height: 200%;
  font-weight: 300;
  font-style: normal;
  color: #4d4d4d;

  padding-top: 10px;
}

  li {
  font-family: 'Martel', serif;
  font-size: 1.05em; 
  line-height: 200%;
  font-weight: 300;
  font-style: normal;
  color: #4d4d4d;

} 

  .btn-fix {
  font-family: 'Jost', sans-serif;

}

.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}
.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}
.section-title {
    padding-bottom: 45px;
}
.section-title p {
    margin: 0;
    font-size: 18px;
}

/* Resume Box
---------------------*/
.resume-box {
  background: #ffffff;
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
  border-radius: 10px;
}
.resume-box ul {
  margin: 0;
  padding: 30px 20px;
  list-style: none;
}
.resume-box li {
  position: relative;
  padding: 0 20px 0 60px;
  margin: 0 0 30px;
}
.resume-box li:last-child {
  margin-bottom: 0;
}
.resume-box li:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  border-left: 1px solid #4A90E2;
  bottom: 0;
}
.resume-box .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  color: #4A90E2;
  line-height: 40px;
  background: #ffffff;
  text-align: center;
  z-index: 1;
  border: 1px solid;
  border-radius: 50%;
}
.resume-box .time {
  background: #4A90E2;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
}
.resume-box h5 {
  font-weight: 700;
  color: #20247b;
  font-size: 16px;
  margin-bottom: 10px;
}
.resume-box p {
  margin: 0;
  padding-bottom: 10px;
}

.resume-box li:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    border-left: 1px solid #4A90E2;
    bottom: 0;
}


.box {
  transition: box-shadow .3s;
  border-radius: 10px;
  border: 1px solid #ececec;

  
}
.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.round-top {
  border-radius: 9px 9px 0 0;
}


/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








